<h1><%= @repo.name %> Commits History</h1>
<section id="fetch">
	<%= form_for :repo, method: :get, remote: true do %>
		<%= text_field_tag(:daterange,'', class: "daterange") %>
		<%= submit_tag "Submit", id: "search", data: { disable_with: "Please wait..." }%>
	<% end %>
</section>
<div id="chart"></div>

<script type="text/javascript">
  getCommitsHistory(<%= raw @commits_arr %>);
</script>